boby{
    color: rgb(255, 212, 226);
    background: rgb(65, 247, 247);
    margin:0px;
}

header{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(245, 148, 180);
}

section{
    background: rgb(235, 235, 235);
    padding-bottom: 80x;
    padding-top: 80px;
}
